@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');




*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family:  "Open Sans", sans-serif;

}


img{
    max-width: 100%;
}

.imag{
    width: 300px;
}


.btn{
    padding: 7px 14px;
    border: none;
    cursor: pointer;
}

.btn-dark{
    background-color:black;
    color: white;
    font-family:  "Open Sans", sans-serif;
}

